<div class="container-fluid container-layout">
  <div class="row">
    <div class="offset-3"></div>
    <div class="col-md-6">

      <mat-card class="filter">
        <div class="row">
          <mat-card-header class="center-layout">
            <mat-card-title>Get new subject in some group</mat-card-title>
          </mat-card-header>
        </div>

        <div class="row">
          <div class="offset-1"></div>
          <div class="col-md-10">
            <ng-select [items]=groups
                       bindLabel="Name"
                       placeholder="Select group"
                       [(ngModel)]="selectedGroup">
            </ng-select>
          </div>
          <div class="offset-1"></div>
        </div>
        <br>

        <div class="row">
          <div class="offset-1"></div>
          <div class="col-md-10">
            <ng-select [items]=subjects
                       bindLabel="Name"
                       placeholder="Select subject"
                       [(ngModel)]="selectedSubject">
            </ng-select>
          </div>
          <div class="offset-1"></div>
        </div>

        <br>

        <div class="row">
          <div class="offset-1"></div>
          <div class="col-md-10">
            <div>
              <label>Maximum price: </label>
              <label style="margin-left: 5px">
                <input type="number"
                       min="1"
                       max=10
                       class="form-control"
                       [(ngModel)]="selectedSemester"
                />
              </label>
            </div>
          </div>
          <div class="offset-1"></div>
        </div>

        <div class="row">
          <div class="offset-1"></div>
          <div class="col-md-10">
            <button class="btn styledButton wide-btn" color="primary" mdbBtn mdbWavesEffect (click)=add()>
              Add
              <i *ngIf="loading1" class="fa fa-spinner fa-spin"></i>
            </button>
            <button class="btn styledButton wide-btn" color="primary" mdbBtn mdbWavesEffect (click)=get()>
              Get Group Marks
              <i *ngIf="loading2" class="fa fa-spinner fa-spin"></i>
            </button>
          </div>
          <div class="offset-1"></div>
        </div>
      </mat-card>
    </div>
    <div class="offset-3"></div>
  </div>
</div>

