.select-layout {
  width: 100%;
}

.center-layout {
  margin-left:auto;
  margin-right:auto;
  margin-bottom: 10px;
}

.right-aligned {
  //float: right;
  //margin-left: auto;
  //margin-right: 17px;
  margin-top: 10px;
  width: 100%;
}
