@import "~@ng-select/ng-select/themes/default.theme.css";

ng-select.invalid-select > div {
  border-color: red !important;
}

.container-layout {
  margin-top: 30px;
}

.card-layout {
  margin-bottom: 20px;
}

/* Validation of input */

.invalid-input {
  color: red;
}

/* Auth layouts */

.btn-wide {
  width: 100%;
  display: block;
  margin: auto;
}

.form-layout {
  padding: 20px;
}

html, body {
  height: 100%;
}


@font-face {
  font-family: 'Nexa';
  src: local('Nexa Light'), local('NexaLight'), url('assets/fonts/nexalight.woff2') format('woff2'), url('assets/fonts/nexalight.woff') format('woff'), url('assets/fonts/nexalight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Nexa';
  src: local('Nexa Bold'), local('NexaBold'), url('assets/fonts/nexabold.woff2') format('woff2'), url('assets/fonts/nexabold.woff') format('woff'), url('assets/fonts/nexabold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

.styledButton {
  background-color: #2E294E !important;
  vertical-align: bottom;
}

.redButton {
  background-color: #FE4A49 !important;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #E7E6F7;
  background-image: url("https://www.transparenttextures.com/patterns/skulls.png");
}

.mw-85 {
  max-width: 85%;
}

.table-container {
  background-color: white;
  border-radius: 5px;
  margin: 20px 5px 10px 5px;
}
