<div class="container container-layout">
  <div class="col-md-8">

    <mat-card class="filter">
      <div class="row">
        <mat-card-header>
          <mat-card-title>Select group for see marks</mat-card-title>
        </mat-card-header>
      </div>


      <div class="col-md-5">

        <ng-select [items]=groups
                   bindLabel="Name"
                   placeholder="Select group"
                   [(ngModel)]="selectedGroup">
        </ng-select>
      </div>

      <div>
        <button class="btn btn-wide styledButton" color="primary" mdbBtn mdbWavesEffect (click)=add()>
          Add new Group
          <i *ngIf="loading" class="fa fa-spinner fa-spin"></i>
        </button>
      </div>

      <div>
        <button class="btn btn-wide styledButton" color="primary" mdbBtn mdbWavesEffect (click)=get()>
          Get Goup Marks
          <i *ngIf="loading" class="fa fa-spinner fa-spin"></i>
        </button>
      </div>

    </mat-card>
  </div>
</div>
