<div class="container">
  <div class="row ">
    <div class="col-md-3">
      <div align="center">
        <img alt="User Pic" src="https://www.french-weekendbreaks.co.uk/sites/uk.picardiev3/themes/picardiev3/img_v2/user-default.jpg"
             class="img-responsive userpic" id="profile-image1">
        <div>
          <button (click)="editUser()" class="btn btn1 styledButton" color="primary" mdbBtn mdbWavesEffect
                  style="width: 196px"> Edit profile
          </button>

        </div>
      </div>
    </div>


    <div class="col-md-8">
      <table borderless="true" mdbTable>
        <h5 class="head">Account details</h5>
        <tbody>
        <tr mdbTableCol>
          <td>
            <h5>
              <mdb-icon fas icon="user"></mdb-icon>
              Username:
            </h5>
          </td>
          <td>{{currentUser?.UserName}}</td>
        </tr>
        <tr mdbTableCol>
          <td>
            <h5>
              <mdb-icon far icon="id-card"></mdb-icon>
              First name:
            </h5>
          </td>
          <td>{{currentUser?.FirstName}}</td>
        </tr>
        <tr mdbTableCol>
          <td>
            <h5>
              <mdb-icon fas icon="id-card"></mdb-icon>
              Last name:
            </h5>
          </td>
          <td>{{currentUser?.SecondName}}</td>
        </tr>
        <tr mdbTableCol>
          <td>
            <h5>
              <mdb-icon fas icon="envelope"></mdb-icon>
              E-mail:
            </h5>
          </td>
          <td>{{currentUser?.Email}}</td>
        </tr>
        <tr mdbTableCol>
          <td>
            <h5>
              <mdb-icon fas icon="user-graduate"></mdb-icon>
              Faculty :
            </h5>
          </td>
          <td>{{currentUser?.FacultyName}}</td>
        </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>
